<footer class="footer">
  <small>Copyright &copy; <%= link_to 'Esirei', 'https://esirei.com' %></small>
  <nav>
    <ul>
      <!--Block to enter ruby code, the equal sign renders what is evaluated in it-->
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </nav>
</footer>